<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Encryption</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Graham Gilbert</string>
	<key>display_name</key>
	<string>Crypt</string>
	<key>installed_size</key>
	<integer>12666</integer>
	<key>installer_item_hash</key>
	<string>ecfb1d0632953cde8d95676b6d2812590fc515cd96709d0af125486917f72b32</string>
	<key>installer_item_location</key>
	<string>Crypt-3.3.0.178.pkg</string>
	<key>installer_item_size</key>
	<integer>4717</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>crypt</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>12666</integer>
			<key>packageid</key>
			<string>com.grahamgilbert.Crypt</string>
			<key>version</key>
			<string>3.3.0.178</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.3.0.178</string>
</dict>
</plist>
