<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadIdentifier</key>
	<string>com.installapplicationsdemo.crypt</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>DEP</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string>Crypt</string>
	<key>installer_item_hash</key>
	<string>764f8cc3e3200914d3db4ef835ebbaa57fb8ae7a3c93f68460f820f283647363</string>
	<key>installer_item_location</key>
	<string>Crypt-1.0.mobileconfig</string>
	<key>installer_item_size</key>
	<integer>1</integer>
	<key>installer_type</key>
	<string>profile</string>
	<key>minimum_munki_version</key>
	<string>2.2</string>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>Crypt.mobileconfig</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_profile</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
