<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadIdentifier</key>
	<string>com.installapplicationsdemo.crypt</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Encryption</string>
	<key>description</key>
	<string>Management file for Crypt</string>
	<key>developer</key>
	<string>Erik Gomez</string>
	<key>display_name</key>
	<string>Crypt</string>
	<key>installer_item_hash</key>
	<string>81807f38508d25d77e4fe5af6004eefc62ef1d2cfd7ba032f92912fd530ce8e5</string>
	<key>installer_item_location</key>
	<string>Crypt-1.1.mobileconfig</string>
	<key>installer_item_size</key>
	<integer>1</integer>
	<key>installer_type</key>
	<string>profile</string>
	<key>minimum_munki_version</key>
	<string>2.2</string>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>Crypt.mobileconfig</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_profile</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>crypt</string>
	</array>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>
