<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>DEP</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string>Dockutil</string>
	<key>installed_size</key>
	<integer>33</integer>
	<key>installer_item_hash</key>
	<string>111e4dd1f42176e4a383bcd4376a9b4545b02be63d88664749f937b321346f4c</string>
	<key>installer_item_location</key>
	<string>dockutil-2.0.6.pkg</string>
	<key>installer_item_size</key>
	<integer>12</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>dockutil</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>33</integer>
			<key>packageid</key>
			<string>com.installapplicationsdemo.dockutil</string>
			<key>version</key>
			<string>2.0.6</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0.6</string>
</dict>
</plist>
