<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Managed Software Center</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Greg Neagle</string>
	<key>display_name</key>
	<string>Munki (Embedded Python)</string>
	<key>icon_name</key>
	<string>Munki.png</string>
	<key>installed_size</key>
	<integer>83516</integer>
	<key>installer_item_hash</key>
	<string>d54f7581dfcd8b199714ff821b27e0d5d3c45fa4c367722e87bbe963fa9e8f72</string>
	<key>installer_item_location</key>
	<string>munkitools_python-3.7.4.pkg</string>
	<key>installer_item_size</key>
	<integer>25199</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_python</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>83516</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.python</string>
			<key>version</key>
			<string>3.7.4</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.7.4</string>
</dict>
</plist>
