<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Managed Software Center</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Greg Neagle</string>
	<key>display_name</key>
	<string>Munki (App)</string>
	<key>icon_name</key>
	<string>Munki.png</string>
	<key>installed_size</key>
	<integer>28830</integer>
	<key>installer_item_hash</key>
	<string>3d78fc3685fdd1ac3b7d95b4f8de9161a7a488ed6b0a5658c670c3a4f14c757f</string>
	<key>installer_item_location</key>
	<string>munkitools_app-5.1.0.3873.pkg</string>
	<key>installer_item_size</key>
	<integer>11421</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_app</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>28830</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>5.1.0.3873</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1.0.3873</string>
</dict>
</plist>
