<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Managed Software Center</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Greg Neagle</string>
	<key>display_name</key>
	<string>Munki (LaunchD)</string>
	<key>icon_name</key>
	<string>Munki.png</string>
	<key>installed_size</key>
	<integer>10</integer>
	<key>installer_item_hash</key>
	<string>66441eaba5aa717fd81d1a84ddfb309da90cff6bc5904dc0e94c1f6e216c2a89</string>
	<key>installer_item_location</key>
	<string>munkitools_launchd-3.0.3265.pkg</string>
	<key>installer_item_size</key>
	<integer>4</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_launchd</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>10</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>3.0.3265</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0.3265</string>
</dict>
</plist>
