<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>erik</string>
		<key>creation_date</key>
		<date>2021-06-18T01:38:57Z</date>
		<key>munki_version</key>
		<string>5.5.0.4360</string>
		<key>os_version</key>
		<string>12.0</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Embedded Python tools used by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center embedded python</string>
	<key>icon_name</key>
	<string>Munki.png</string>
	<key>installed_size</key>
	<integer>131506</integer>
	<key>installer_item_hash</key>
	<string>a607c92ee1268219fbdb46880fc3d3da65a92b6f099b02e592a40dc4e6d6bd05</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_python-3.9.5.4361.pkg</string>
	<key>installer_item_size</key>
	<integer>35607</integer>
	<key>minimum_os_version</key>
	<string>10.11</string>
	<key>name</key>
	<string>munkitools_python</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>131506</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.python</string>
			<key>version</key>
			<string>3.9.5.4361</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.9.5.4361</string>
</dict>
</plist>
