<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>erik</string>
		<key>creation_date</key>
		<date>2021-06-18T01:38:52Z</date>
		<key>munki_version</key>
		<string>5.5.0.4360</string>
		<key>os_version</key>
		<string>12.0</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>munkitools</string>
	<key>description</key>
	<string>Core command-line tools used by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center core tools</string>
	<key>icon_name</key>
	<string>Munki.png</string>
	<key>installed_size</key>
	<integer>1031</integer>
	<key>installer_item_hash</key>
	<string>deb7aefe85d8d5f98d45a5441f03a2e591eb86a10e8d7d03021894a0f2032876</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_core-5.5.0.4360.pkg</string>
	<key>PackageURL</key>
	<string>https://github.com/erikng/installapplicationsdemo/blob/main/munki/pkgs/munkitools/munkitools_core-5.5.0.4360.pkg?raw=true</string>
	<key>installer_item_size</key>
	<integer>227</integer>
	<key>minimum_os_version</key>
	<string>10.11</string>
	<key>name</key>
	<string>munkitools_core</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1031</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>5.5.0.4360</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_python</string>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.5.0.4360</string>
</dict>
</plist>
