<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleChrome.png</key>
	<string>5f260572a366eaef1bb9722ebc13977f48d483d357420bfcc6cf5710a3c22f80</string>
	<key>Munki.png</key>
	<string>cb38b5de77ba8eac060c0b8ee57057be6f9d44c4e19c28ffb8d119ac0c8f1d82</string>
</dict>
</plist>
